<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>StepOne</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<style>
		#upload{
		display:none
		}
		#upload_link,#anupload_link{
		text-decoration:none;
		}
	</style>
</head>
<body>

<div class="container-sm">

			<h4>Enter your Warehousing Listing</h4>
			<h6>Please fill the details of your warehouse</h6>
</div>
<div class="container-sm mb-3" >
		<img  src="/images/Picture4.jpg" style='height: 100%; width: 100%; object-fit: contain;' >
</div>
	<form action="/submit" method="post" enctype="multipart/form-data">
		<div class="container-sm">
			<div class="mb-3 row">
				<div class="col">
					<div class="form-floating">
						<textarea name="comments" class="form-control" id="floatingTextarea"></textarea>
						<label for="floatingTextarea">Comments</label>
					</div>
				</div>
			</div>
			<div class="mb-3 row">
				<div class="col">
					<div class="form-floating">
						<div class="form-control" id="lab" >
						<span>
							<p style="display: inline;">Drag and Drop (or)</p>
							<a href="" id="upload_link" >Choose file</a>
						</span>
						</div>
						<label for="lab ">Upload outside pictures of warehouse</label>
						<input id="upload" name="outsidepic" type="file"/>
						<!-- <input id="upload" name="outsidepic" onchange="loadFile1(event)" type="file"/>
						<p><img id="output1" width="200" /></p> -->
					</div>
				</div>
			</div>
			<div class="mb-3 row">
				<div class="col">
					<div class="form-floating">
						<div class="form-control" id="lab" >
						<span>
							<p style="display: inline;">Drag and Drop (or)</p>
							<a href="" id="anupload_link" >Choose file</a>
						</span>
						</div>
						<label for="lab ">Upload inside pictures of warehouse</label>
						<input id="upload" name="insidepic"  type="file"/>
						<!-- <input id="upload" name="insidepic" onchange="loadFile2(event)" type="file"/>
						<p><img id="output2" width="200" /></p> -->

					</div>
				</div>
			</div>
			<div class="mb-3 row">
				 <div class="col">
				<button type="button" onclick="history.back()" class="btn btn-sm btn-danger">Back</button>
				</div>
				<div class="col col-lg" >
				<button type="submit" class="btn btn-sm btn-danger" >Submit</button>
			</div>
    			</div>
		</div>

	</form>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		$(function(){
		$("#upload_link").on('click', function(e){
			e.preventDefault();
			$("#upload:hidden").trigger('click');
		});
		});

		$(function(){
		$("#anupload_link").on('click', function(e){
			e.preventDefault();
			$("#upload:hidden").trigger('click');
		});
		});


// 		var loadFile1 = function(event) {
// 	var image1 = document.getElementById('output1');
// 	image1.src = URL.createObjectURL(event.target.files[0]);
// };

// 		var loadFile2 = function(event) {
// 	var image2 = document.getElementById('output2');
// 	image2.src = URL.createObjectURL(event.target.files[0]);
// };
	</script>
</body>
</html>

