<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>StepOne</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>
<div class="container-sm">

			<h4>Enter your Warehousing Listing</h4>
			<h6>Please fill the details of your warehouse</h6>
</div>
<div class="container-sm mb-3" >
		<img  src="/images/Picture3.jpg" style='height: 100%; width: 100%; object-fit: contain;' >
</div>

	<form action="/lStep" method="post">
		<div class="container-sm">
			<div class="mb-3 row">
				<div class="col">
					<div class="form-floating">
						<textarea name="notallowed" class="form-control" id="floatingTextarea"></textarea>
						<label for="floatingTextarea">Types of products not allowed to be stored</label>
					</div>
				</div>
			</div>
			<h4>Addition Information</h4>
			<div class="mb-3 row">
				 <div class="col">
				</div>
				<div class="col col-lg-2">
					<h5>Yes</h5>
				</div>
				<div class="col col-lg-2">
					<h5>No</h5>
				 </div>
			</div>
			<div class="mb-3 row">
				 <div class="col">
					 <label for="">Government Approval</label>
				</div>
				<div class="col col-lg-2">
					 <input type="radio" value="YES" name="GA" id="">
				</div>
				<div class="col col-lg-2">
					 <input type="radio" value="NO" name="GA" id="">
				 </div>
			</div>
			<div class="mb-3 row">
				 <div class="col">
					 <label for="">Firefighting Arrangements</label>
				</div>
				<div class="col col-lg-2">
					 <input type="radio" value="YES" name="FA" id="">
				</div>
				<div class="col col-lg-2">
					 <input type="radio" value="NO" name="FA" id="">
				 </div>
			</div>
			<div class="mb-3 row">
				 <div class="col">
					 <label for="">Weighbridge Facilities</label>
				</div>
				<div class="col col-lg-2">
					 <input type="radio" value="YES" name="WF" id="">
				</div>
				<div class="col col-lg-2">
					 <input type="radio" value="NO" name="WF" id="">
				 </div>
			</div>
			<div class="mb-3 row">
				 <div class="col">
					 <label for="">Power Backup</label>
				</div>
				<div class="col col-lg-2">
					 <input type="radio" value="YES" name="PB" id="">
				</div>
				<div class="col col-lg-2">
					 <input type="radio" value="NO" name="PB" id="">
				 </div>
			</div>
			<div class="mb-3 row">
				 <div class="col">
					 <label for="">Labour Availability</label>
				</div>
				<div class="col col-lg-2">
					 <input type="radio" value="YES" name="LA" id="">
				</div>
				<div class="col col-lg-2">
					 <input type="radio" value="NO" name="LA" id="">
				 </div>
			</div>
			<div class="mb-3 row">
				 <div class="col">
					 <label for="">Grading Sorting Platform</label>
				</div>
				<div class="col col-lg-2">
					 <input type="radio" value="YES" name="GSP" id="">
				</div>
				<div class="col col-lg-2">
					 <input type="radio" value="NO" name="GSP" id="">
				 </div>
			</div>
			<div class="mb-3 row">
				 <div class="col">
					 <label for="">Unloading Platform</label>
				</div>
				<div class="col col-lg-2">
					 <input type="radio" value="YES" name="UP" id="">
				</div>
				<div class="col col-lg-2">
					 <input type="radio" value="NO" name="UP" id="">
				 </div>
			</div>
			<div class="mb-3 row">
				 <div class="col">
				<button type="button" onclick="history.back()" class="btn btn-sm btn-danger">Back</button>
				</div>
				<div class="col" >
				<button type="submit" class="btn btn-sm btn-danger" style="float: right;">Next</button>
			</div>
		</div>

	</form>
	
</body>
</html>

